@import "tailwindcss";
@plugin "daisyui";
@plugin "@midudev/tailwind-animations";


@layer components {
    h1{
        @apply text-3xl font-bold;
    };
    h2{
        @apply text-2xl font-bold;
    };
    h3{
        @apply text-xl font-bold;
    };
    
    h4{
        @apply text-lg font-bold;
    };
    
    h5{
        @apply text-base font-bold;
    };
    
    h6{
        @apply text-sm font-bold;
    };

    link-hover{
        @apply hover:underline hover:text-primary
    };

    .home-section{
        @apply bg-base-100 rounded-xl px-4 md:px-5 py-5 md:py-10 space-y-2;
    }

    .home-section h1{
        @apply text-xl md:text-4xl;
    }

    .home-section-subtitle{
         @apply text-sm md:text-2xl font-medium flex gap-2 md:items-center;
    }

    .icon-button{
        @apply flex items-center gap-2;
    }
    
}

/* Ocultar badge de reCaptcha v3 */
.grecaptcha-badge {
    visibility: block !important;
}